<a href="send" class="btn btn-primary btn-block margin-bottom"><i class="fa fa-send"></i> Send SMS</a>
<div class="box box-solid">
  <div class="box-body no-padding">
    <ul class="nav nav-pills nav-stacked">
      <li class="<%= message_sidebar_active_admin %>"><a href="admin"><i class="fa fa-inbox"></i> Admin <span class="label label-primary pull-right">4</span></a></li>
      <li class="<%= message_sidebar_active_personal %>"><a href="personal"><i class="fa fa-inbox"></i> Personal <span class="label label-success pull-right">6</span></a></li>
      <li class="<%= message_sidebar_active_sent %>"><a href="sent"><i class="fa fa-arrow-up"></i> Sent</a></li>
      <li class="<%= message_sidebar_active_received %>"><a href="received"><i class="fa fa-arrow-down"></i> Received</a></li>
    </ul>
  </div><!-- /.box-body -->
</div><!-- /. box -->

<div class="box box-solid">
  <div class="box-body no-padding">
    <ul class="nav nav-pills nav-stacked">
      <li class="<%= message_sidebar_active_admin_archive %>"><a href="adminarchive"><i class="fa fa-archive"></i> Admin archive </a></li>
      <li class="<%= message_sidebar_active_personal_archive %>"><a href="personalarchive"><i class="fa fa-archive"></i> Personal archive </a></li>
    </ul>
  </div><!-- /.box-body -->
</div><!-- /. box -->
